@import url('https://fonts.googleapis.com/css2?family=Staatliches:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    background-image: url('../assets/images/background/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header {
    font-family: "Staatliches", sans-serif;
    background: #0E5374;
    color: #FFFFFF;
    padding: 0.2rem 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
}

.header-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.info-link {
  font-size: 24px;
  text-decoration: none;
  color: #333;
}

.info-link:hover {
  color: #0073e6; /* cor de destaque ao passar o mouse */
}

/* Header reduzido */
header.shrink h1 {
    font-size: 2rem; /* menor */
    margin-top: 0.2rem;
}

header.shrink h2 {
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

header.shrink .search-box {
    margin: 0.3rem auto;
    padding: 0.2rem;
}

header h1 {
    text-transform: uppercase;
    font-size: 4rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
}

header h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
}

header h1,
header h2 {
    cursor: pointer;
    transition: transform 0.2s ease;
}

/* Mantém header fixo e transições */
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap; /* permite quebrar linha em telas pequenas */
}

.header-content .logo {
    padding-top: 10px;
    padding-right: 10px;
}

.header-content .logo img {
    height: 120px; /* tamanho inicial do logo */
    width: auto;
    transition: height 0.3s ease;
}

/* Redução junto com shrink */
header.shrink .header-content .logo {
    padding-top: 8px;
    padding-right: 4px;
}

header.shrink .header-content .logo img {
    height: 68px;
}

/* Mantém alinhamento e estilos dos títulos */
.header-content .titles {
    text-align: left;
}

.header-content .titles h1,
.header-content .titles h2 {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.header-content .titles h2 {
    position: relative;
}

.header-content .titles h2 .info-link {
    position: absolute;
    right: -40px;    /* distância do texto; ajuste conforme necessário */
    top: 50%;        /* centraliza verticalmente na linha do h2 */
    transform: translateY(-50%);
    font-size: 1.8rem;
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease;
}

.header-content .titles h2 .info-link:hover {
    color: #0073e6;
}

header.shrink .titles h1 {
    font-size: 2rem;
    margin-top: 0.2rem;
}

header.shrink .titles h2 {
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

header.shrink .titles h2 .info-link {
    font-size: 1rem;
}

.search-box {
    margin: 0.3rem auto;
    max-width: 600px;
    padding: 0.5rem;
    text-align: center;
    position: relative;
}

.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
    pointer-events: none;
}

.search-box input {
    width: 90%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-wrapper input {
    width: 100%;
    padding: 0.8rem;
    padding-left: 50px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding-right: 35px;
    /* espaço pro X */
}

#clearSearch {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #999;
    display: none;
    /* começa escondido */
}

#clearSearch:hover {
    color: #333;
}

#searchForm button[type="submit"] {
    display: none;
    /* oculta o botão pesquisar */
}

main {
    flex: 1;
    margin-top: 230px; /* base para header reduzido */
    transition: margin-top 0.3s ease;
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;/* Padrão */
}

.main-info {
    flex: 1;
    margin-top: 160px; /* base para header reduzido */
    transition: margin-top 0.3s ease;
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;/* Padrão */
}

header.shrink ~ main {
    margin-top: 140px; /* ajusta espaço quando header encolhe */
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
    padding: 0 2rem;
}

/* ==== CARD ==== */
.card {
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
    width: 350px;
    height: 350px;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    -webkit-user-drag: none;
    user-drag: none;
}

.card-content {
    flex: 1;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
}

/* Tipografia */
.headline {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #2c3e50;
    text-transform: uppercase;
    white-space: nowrap;
    /* não quebra linha */
    overflow: hidden;
    /* corta o excesso */
    text-overflow: ellipsis;
    /* coloca "..." */
}

.subhead {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    margin-top: 0.1rem;
    color: #555;
    white-space: nowrap;
    /* não quebra linha */
    overflow: hidden;
    /* corta o excesso */
    text-overflow: ellipsis;
    /* coloca "..." */
}

.body {
    margin: 1rem 0;
    flex: 1;
}

.insidecardbody {
    margin: 0.3rem auto;
    font-size: 12px;
    color: #444;
}

/* Botão */
.primary-btn {
    padding: 0.6rem 0.6rem;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(to right, #009FE0, #02A4E3);
    color: #F5F7F8;
    cursor: pointer;
    transition: background 0.2s ease;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.primary-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

/* Footer */
footer {
    font-family: "Staatliches", sans-serif;
    background: #087fad;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    margin-top: 1.5rem;
    font-size: 18px;
}

footer p {
    margin: 0;
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 1000;
    background-color: #135a7a;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 0.8rem 1rem;
    font-size: 20px;
    cursor: pointer;
    display: none;
    /* começa escondido */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s;
}

#scrollTopBtn:hover {
    background-color: #24779e;
}

/* Overlay do modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    /* padding: 1rem; */
}

/* Card do modal */
.modal-card {
    background: #fff;
    border-radius: 8px;
    max-width: 535px;
    width: 100%;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.3s ease;
    position: relative;
}

/* Imagem cabeçalho */
.modal-card img {
    width: 100%;
    height: 357px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Corpo do card */
.modal-card .modal-body {
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
}

.modal-card h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #2c3e50;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-card h2 {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    margin-bottom: 0.5rem;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-body p {
    padding: 0;
    margin: 0;
    margin-top: 0.4rem;
    font-size: 13px;
}

.modal-body ul {
    margin: 0;
    margin-top: 0.2rem;
    font-size: 13px;
    list-style-type: square;
    padding-inline-start: 20px;

}

.modal-body-titles {
    color: #2c3e50;
    text-transform: uppercase;
}

.modal-body-btn {
    margin-top: 1.5rem;
}

/* Botão fechar */
.modal-card .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-image-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image-wrapper img {
  width: 100%;
  height: auto;
  max-height: 50vh;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem; 
  height: 2rem;
  max-width: 60px;           /* tamanho máximo */
  max-height: 60px;          /* tamanho máximo */
  min-width: 32px;           /* tamanho mínimo */
  min-height: 32px;          /* tamanho mínimo */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;            /* ícone proporcional */
  color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  user-select: none;
  transition: background 0.2s;
  z-index: 20;
}

.arrow:hover {
  background: rgba(0,0,0,0.6);
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.image-with-caption {
  position: relative;
  width: 100%;
}

.image-with-caption img {
  width: 100%;
  height: auto;
  max-height: 50vh;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.image-caption {
    position: absolute;
    bottom: 4px;
    right: 0px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px 0 0 0;
    font-size: 1.1rem;
    text-transform: uppercase;
}

/* Fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.container-info {
    padding: 1rem 2rem;
    background-color: #f9f9f9;
    margin: 0.4rem auto;
    max-width: 900px;
    text-align: justify;
    border: 1px solid #eee;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    line-height: 1.6;
    font-size: 1rem;
    color: #333;
}

/* títulos dentro da área de conteúdo */
.container-info h2,
.container-info h3 {
    color: #2c3e50;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.container-info h2 {
    font-size: 1.8rem;
    border-bottom: 2px solid #eee; /* leve separador */
    padding-bottom: 0.5rem;
}

.container-info h3 {
    font-size: 1.4rem;
    color: #34495e;
}

.container-info p {
    margin-bottom: 1rem;
}

/* listas */
.container-info ul {
    margin: 1rem 0 1.5rem 1.5rem;
    padding: 0;
    list-style-type: disc;
}

.container-info li {
    margin-bottom: 0.25rem;
}

.container-info a {
    color: #1d70b8;             /* azul moderno */
    text-decoration: none;       /* remove sublinhado */
    transition: color 0.3s, border-bottom 0.3s; /* transição suave */
    border-bottom: 2px solid transparent; /* efeito sutil ao hover */
}

/* hover e foco */
.container-info a:hover,
.container-info a:focus {
    color: #0d3a66;              /* azul mais escuro no hover */
    border-bottom: 2px solid #1d70b8; /* sublinhado aparece ao passar o mouse */
}

/* link visitado */
.container-info a:visited {
    color: #1d70b8;             /* mesma cor que não visitado */
}

/* -------------------------
   Media Queries
------------------------- */
/* Tablets */
@media (max-width: 1024px) {
    body {
        touch-action: manipulation;
        /* evita seleção acidental */
    }

    .header-content .logo img {
        height: 102px; /* tamanho inicial do logo */
        width: auto;
        transition: height 0.3s ease;
    }

    header.shrink .search-box {
        margin: 0.3rem auto;
        padding: 0.5rem;
    }

    header h1 {
        font-size: 3rem;
    }

    header h2 {
        font-size: 1.5rem;
    }

    .header-content .titles h2 .info-link {
        right: 0px;    /* distância do texto; ajuste conforme necessário */
        top: 50%;        /* centraliza verticalmente na linha do h2 */
        font-size: 1.5rem;
    }

    main {
        margin-top: 220px;
    }

    .main-info {
        margin-top: 135px;
    }

    .headline {
        font-size: 14px;
    }

    .subhead {
        font-size: 12px;
    }

    footer {
        font-size: 12px;
    }

    .container-info {
        padding: 1rem;       /* menos padding interno */
        margin: 1rem 1rem 0 1rem;        /* menos margem externa */
        font-size: 0.95rem;  /* texto um pouco menor */
    }

    .container-info h2 {
        font-size: 1.5rem;
    }

    .container-info h3 {
        font-size: 1.2rem;
    }

    .container-info ul {
        margin-left: 1rem;   /* listas menos indentadas */
    }
}

/* Celulares */
@media (max-width: 600px) {
    body {
        touch-action: manipulation;
        /* evita seleção acidental */
    }

    .header-actions {
        top: 80px;
        z-index: 100;
    }

    header.shrink .header-actions {
        top: 30px;
    }

    header.shrink .search-box {
        margin: 0.3rem auto;
        padding: 0.5rem;
    }

    /* Mantém header fixo e transições */
    .header-content {
        gap: 0.1rem;
    }

    .header-content .logo {
        padding-top: 10px;
    }

    .header-content .logo img {
        height: 96px; /* tamanho inicial do logo */
        width: auto;
        transition: height 0.3s ease;
    }

    /* Redução junto com shrink */
    header.shrink .header-content .logo {
        padding-top: 8px;
        padding-right: 8px;
    }

    header.shrink .header-content .logo img {
        height: 68px;
    }

    header h1 {
        font-size: 2.8rem;
    }

    header h2 {
        font-size: 1.3rem;
    }

    .header-content .titles h2 .info-link {
        right: 0px;    /* distância do texto; ajuste conforme necessário */
        top: 50%;        /* centraliza verticalmente na linha do h2 */
        font-size: 1.3rem;
    }

    main {
        margin-top: 210px;
    }

    .main-info {
        margin-top: 125px;
    }

    .headline {
        font-size: 14px;
    }

    .subhead {
        font-size: 12px;
    }

    footer {
        font-size: 12px;
    }

    .modal-card {
        margin: 0.5rem;
        max-height: 95%;
    }

    .modal-card h1 {
        font-size: 1.2rem;
    }

    .modal-card h2 {
        font-size: 0.7rem;
    }

    .modal-card img {
        max-height: 250px;
    }

    .modal-body p {
        padding: 0;
        margin: 0;
        margin-top: 0.1rem;
        font-size: 10px;
    }

    .modal-body ul {
        font-size: 10px;
    }

    .modal-body-btn {
        margin-top: 1rem;
    }

    .container-info {
        padding: 1rem;       /* menos padding interno */
        margin: 1rem 1rem 0 1rem;        /* menos margem externa */
        font-size: 0.95rem;  /* texto um pouco menor */
    }

    .container-info h2 {
        font-size: 1rem;
    }

    .container-info h3 {
        font-size: 1rem;
    }

    .container-info ul {
        margin-left: 1rem;   /* listas menos indentadas */
    }
}